/* Global styles*/

/*#notice {
 border: 2px solid red;
 padding: 1em;
 margin-bottom: 2em;
 background-color: #f0f0f0;
 font: bold smaller sans-serif;
}
/* Styles for admin/list*/

#mod-list .list-title {
	color: #0066CC;
	font-weight: bold;
	
/*	font-size: larger;*/
}

#mod-list .list-title2 {
	font-weight: bold;
	color:	#244;
}
#mod-list .list-login {
	color: #0066CC;
	font-size: 1.2em;
	font-family: sans-serif;
}

#mod-list .list-dept {
	font-size: 0.8em;
	color: #244;
}

#mod-list .list-dept2 {
	font-size: 0.8em;
	font-style: italic;
	color: #244;
}
#mod-list .list-dept3 {
	font-size: 1.0em;
	font-weight: bold;
	color: #244;
}

#mod-list .list-textdesc {
	font-style: italic;
	
}

#mod-list .list-image {
	width: 90px;
	height: 60px;
	
}


#mod-list .list-actions {
 font-size:	x-small;
 text-align:	right;
 padding-left: 	1em;
}

#mod-list .list-line-even {
 background:	#e0f8f8;
}

#mod-list .list-line-even {
 background: #f8bof8;
}


/* Styles for main page */

/*#banner {
 padding-top: 10px;
 padding-bottom: 10px;
 font: small-caps 40px/40px "Times New Roman", serif;
 color: #282;
 text-align: center;
}*/
 #banner img{
 float: left;
}

#columns{
 background: #141;
}

#main {
 margin-left: 5em;
 margin-right: 5em;
 padding-top: 4ex;
 padding-left: 2em;
 padding-right: 2em;
 background: white;
 line-height:2.5em;
 
}

/*#side {
 float: left;
 padding-top: 1em;
 padding-left: 1em;
 width: 14em;
 background: #141;
}

#side {
 color: #bfb;
 font-size: small;
}
*/
h1{
 /*font-family:80% Verdana,Arial,Helvetica,sans-serif;*/
 font-size: 1.5em;
 font: 150% sans-serif;
 color: #0066CC; /*#226;*/
 border-bottom: 1px solid #77d;
 line-height:1.5em;
}

/*sytles for login */

.mod-form fieldset {
 background: #efe;
 border: 1px solid #781351;
 width: 30em;
  margin-left: 15em;
  margin-right: 5em;
 
 }
 
 .mod-form legend {
 color: #dfd;
 background: #0066CC;
 font-family: sans-serif;
 padding: 0.2em 1em;
 }
 
 .mod-form label { 
 width: 5em;
 margin-right: 0.5em;
 display: block;

}
 
 }
  */
  
 .mod-form .submit{
  margin-left: 4.0em;
  }
  */
 


