<% for column in Dept.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @dept.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @dept %> |
<%= link_to 'Back', :action => 'list' %>

