<h1>Editing degree_programme</h1>

<%= start_form_tag :action => 'update', :id => @degree_programme %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @degree_programme %> |
<%= link_to 'Back', :action => 'list' %>
