<% for column in Lecturer.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @lecturer.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @lecturer %> |
<%= link_to 'Back', :action => 'list' %>
