<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Swansea University Online Module Catalogue: Modules </title>
  <%= stylesheet_link_tag 'modcatalogue' %>
</head>
<body id="store">
  <div id="banner">
   <img src="/images/suheader.png"/>

</div>

<div id="main">
     <%=yield :layout %>
     </div>

</body>
</html>
