<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Admin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'modcatalogue' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield :layout %>

</body>
</html>
