<html>
<head>
  <title> Swansea University Online Module Catalogue: Departments </title>
  <%= stylesheet_link_tag 'modcatalogue' %>
</head>
<body id="store">
  <div id="banner">
   <img src="/images/suheader.png"/>

</div>

<div id="main">
     <%=yield :layout %>
     </div>
</body>
</html>
